name: Publish And Release

on:
  push:
    branches:
      - master

env:
  NODE_VERSION: 24

permissions:
  id-token: write # OIDCに必要
  contents: write # Releaseの作成に必要
  pull-requests: write # PRを作成する場合に必要

jobs:
  release_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      # npm 11.5.1以降が必要
      # - name: Update npm
      #   run: npm install -g npm@latest
      - name: Prepare publish
        run: |
          npm install
          npm test
      - name: Publish and Release
        uses: dera-/action-sample/release@d4533052f135fda7be00a0d0f8a102536bbd0f2d
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          only_pull_request: true
      # - name: Publish
      #   run: |
      #     npm publish
      # - name: Create Release
      #   run: |
      #     CURRENT_TAG=$(jq -r .version package.json)
      #     gh release create v${CURRENT_TAG} \
      #       --title "Release v${CURRENT_TAG}" \
      #       --generate-notes \
      #       ./game-sample.zip \
      #       dist/test-*.txt
      #   env:
      #     GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
